$primary-color-dark:          #512DA8;
$primary-color:               #673AB7;
$primary-color-light:         #D1C4E9;
$primary-color-text:          #FFFFFF;
$primary-text-color:          #212121;
$secondary-text-color:        #757575;
$divider-color:               #BDBDBD;

$accent-primary-color-dark:   #303F9F;
$accent-primary-color:        #3F51B5;
$accent-primary-color-light:  #C5CAE9;
$accent-primary-color-text:   #FFFFFF;
$accent-color:                #536DFE;
$accent-color-transparent:    rgba(#526dfe, 0.75);
$accent-primary-text-color:   #212121;
$accent-secondary-text-color: #757575;
$accent-divider-color:        #BDBDBD;
